* {
    padding: 0;
    border: 0;
    font-style: 'Questrial', Arial, Helvetica, sans-serif;
}

h1 {
    color: #eb5412;
}

body {
    background-image: linear-gradient(to left top, #eb5412, #f42259, #db2394, #9e4ac2, #0063d6);
}

.headerh2{
    color: #f42259;
}

#about-me p {
    color: blue;
}


.profilepicture{
    height: 500px;
    width: 700px;
}

#qualities{
    font-size: 150%;
}

#qualities h3:hover {
    color: blue;
}

#box:checked {
    outline: 3px solid green;
}

#box:checked + label {
    color: green;
}

a href:visited {
    color: #db2394;
}
