* {
    padding: 0;
    border: 0;
    font-family: 'Questrial', Arial, Helvetica, sans-serif;
    font-size: 18pt;
    font-weight: 100;
}

body {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 10% 80% 10%;
  padding: 0;
  margin: 0;
  background-color: #CADBC8;
}

Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #a3bdb0, #acc4b6, #b6ccbc, #c0d3c2, #cadbc8);
  padding-bottom: 5pt;
}

Header h1 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 25pt;
}

header nav {
    display: flex;
    flex-direction:column;
}

main{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 0 100% 0;
  grid-template-rows: repeat(3, auto);
}

main > * {
  grid-column: 2/3;
}

#about-me {
  grid-row: 1/2;
}

#fav {
  grid-row: 2/3;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

#fav #pokemon {
  grid-column: 1/2;
}

#fav #everton {
  grid-column: 2/3;
}

#fav #boi {
  grid-column: 3/4;
}

#fav #pokemon,
#fav #everton,
#fav #boi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > li:hover,
#fav #pokemon:hover,
#fav #everton:hover,
#fav #boi:hover {
  background-color: #a3bdb0;
}

#qualities-hobbies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#socials {
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
}

header,
footer {
  grid-column: 2/3;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 8vw;
  }

  #menu-toggle {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  #fav {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  #fav #everton {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #fav #boi {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  #qualities-hobbies {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  #qualities-hobbies #qualities {
    grid-area: 1/1
  }

  #qualities-hobbies #hobbies {
    grid-area: 2/1
  }

    .menu-button-container {
        display: flex;
    }
    .menu {
      position: relative;
      margin-top: 4vw;
      left: 0;
      flex-direction: column;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 1.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 50%;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
}

.profilepicture{
    height: 20vw;
    width: 30vw;
}

#qualities{
    font-size: 150%;
}

#box:checked {
    outline: 3px solid green;
}

#box:checked + label {
    color: green;
}

a href:visited {
    color: #db2394;
}


